<div class="auth-container">
  <mat-card class="auth-card">
    <h2 class="auth-title">Cadastro</h2>

    <form [formGroup]="cadastroForm" (ngSubmit)="cadastrar()">
      <mat-form-field class="auth-form-field">
        <mat-label>Nome</mat-label>
        <input matInput type="text" formControlName="nome" placeholder="Digite seu nome" required />
      </mat-form-field>

      <mat-form-field class="auth-form-field">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" placeholder="Digite seu e-mail" required />
      </mat-form-field>

      <mat-form-field class="auth-form-field">
        <mat-label>Senha</mat-label>
        <input matInput type="password" formControlName="senha" placeholder="Digite sua senha" required />
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="!cadastroForm.valid">Cadastrar</button>
    </form>

    <div class="auth-footer">
      <p>Já tem uma conta? <a (click)="navegarParaLogin()">Faça login</a></p>
      
    </div>
  </mat-card>
</div>
